## Problemas

- Linhas nulas na coluna targuet status (142718) -> *Resolvido*
- Coluna unit totalmente nula -> *Resolvido*
- Várias colunas com tipos misturados -> *Resolvido*
- Transformar a coluna date de object pata data de verdade -> *Resolvido*
- Agrupar a coluna date de alguma maneira e fazer o casting dos valores para data (dias/horas/meses/anos)  -> *Resolvido*
- Coluna inútil siteid -> *Resolvido*
- Verificar do que se trata a coluna pollutant e sua importância -> *Resolvido*
- Coluna pollutant com 55% de valores nulos -> *Resolvido* 
- Várias outras colunas com valores nulos (abaixo de 31%) -> *Resolvido* 
- Popular colunas de latitude e longitude com os dados de county -> *Resolvido* 
- Fazer encoding das colunas sitename, county e pollutant -> *Resolvido* 
- Testar one_hot_encoding e target_encoding -> *Resolvido* 

## Tasks

- Tratar colunas com tipos misturados ----------------------------> *Feito* (preprocess_to_parquet.ipynb file)
- Tratar tipo da coluna date -------------------------------------> *Feito*
- Tratar aglomeração da coluna date ------------------------------> *Feito*
- Dropar as linhas que tem o target (coluna status) nulo ---------> *Feito*
- Dropar as coluna unit e siteid (inúteis) -----------------------> *Feito*
- Verificação e tratamento da coluna pollutant -------------------> *Feito*
- Popular as colunas latitude e longitude com os dados de county -> *Feito*

In [1]:
import pandas as pd


pd.set_option("display.max_columns", None)

In [2]:
air_quality_dataset = "data/air_quality_dataset.parquet"

air_df = pd.read_parquet(air_quality_dataset)

In [3]:
air_df.head()

,date,sitename,county,aqi,pollutant,status,so2,co,o3,o3_8hr,pm10,pm2.5,no2,nox,no,windspeed,winddirec,unit,co_8hr,pm2.5_avg,pm10_avg,so2_avg,longitude,latitude,siteid
0,2024-08-31 23:00,Hukou,Hsinchu County,62.0,PM2.5,Moderate,0.9,0.17,35.0,40.2,18.0,17.0,2.3,2.6,0.3,2.3,225.0,NaN,0.2,20.1,26.0,1.0,121.038869,24.900097,22.0
1,2024-08-31 23:00,Zhongming,Taichung City,50.0,None,Good,1.6,0.32,27.9,35.1,27.0,14.0,7.6,9.3,1.6,1.1,184.0,NaN,0.2,15.3,23.0,1.0,120.641092,24.151958,31.0
2,2024-08-31 23:00,Zhudong,Hsinchu County,45.0,None,Good,0.4,0.17,25.1,40.6,21.0,13.0,2.9,4.1,1.1,0.4,210.0,NaN,0.2,13.8,24.0,0.0,121.088955,24.740914,23.0
3,2024-08-31 23:00,Hsinchu,Hsinchu City,42.0,None,Good,0.8,0.20,30.0,35.9,19.0,10.0,4.0,4.8,0.7,1.9,239.0,NaN,0.2,13.0,26.0,1.0,120.972368,24.805636,24.0
4,2024-08-31 23:00,Toufen,Miaoli County,50.0,None,Good,1.0,0.16,33.5,35.9,18.0,14.0,1.8,3.1,1.2,1.8,259.0,NaN,0.1,15.3,28.0,1.0,120.898693,24.696907,25.0

In [4]:
air_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5882208 entries, 0 to 5882207
Data columns (total 25 columns):
 #   Column     Dtype
---  ------     -----
 0   date       object
 1   sitename   object
 2   county     object
 3   aqi        float64
 4   pollutant  object
 5   status     object
 6   so2        float64
 7   co         float64
 8   o3         float64
 9   o3_8hr     float64
 10  pm10       float64
 11  pm2.5      float64
 12  no2        float64
 13  nox        float64
 14  no         float64
 15  windspeed  float64
 16  winddirec  float64
 17  unit       float64
 18  co_8hr     float64
 19  pm2.5_avg  float64
 20  pm10_avg   float64
 21  so2_avg    float64
 22  longitude  float64
 23  latitude   float64
 24  siteid     float64
dtypes: float64(20), object(5)
memory usage: 1.1+ GB

In [5]:
air_df['status'].value_counts()

status
Good                              3185191
Moderate                          2159158
Unhealthy for Sensitive Groups     343909
Unhealthy                           51008
Very Unhealthy                        173
Hazardous                              51
Name: count, dtype: int64

In [6]:
air_df.isnull().sum()/air_df.shape[0]

date         0.000000
sitename     0.000000
county       0.000000
aqi          0.007314
pollutant    0.549966
status       0.024263
so2          0.023765
co           0.026203
o3           0.035263
o3_8hr       0.026121
pm10         0.024932
pm2.5        0.034379
no2          0.028221
nox          0.028756
no           0.028812
windspeed    0.051457
winddirec    0.051498
unit         1.000000
co_8hr       0.017604
pm2.5_avg    0.013594
pm10_avg     0.016349
so2_avg      0.106964
longitude    0.158719
latitude     0.158719
siteid       0.302517
dtype: float64

### Dropando linhas vazias da coluna status (target)

In [7]:
air_df.dropna(subset=['status'], inplace=True)

In [8]:
air_df['status'].isnull().sum()/air_df.shape[0]

0.0

### Dropando colunas inúteis

In [9]:
air_df.drop(labels=['unit', 'siteid'], axis=1, inplace=True)

In [10]:
air_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5739490 entries, 0 to 5882207
Data columns (total 23 columns):
 #   Column     Dtype
---  ------     -----
 0   date       object
 1   sitename   object
 2   county     object
 3   aqi        float64
 4   pollutant  object
 5   status     object
 6   so2        float64
 7   co         float64
 8   o3         float64
 9   o3_8hr     float64
 10  pm10       float64
 11  pm2.5      float64
 12  no2        float64
 13  nox        float64
 14  no         float64
 15  windspeed  float64
 16  winddirec  float64
 17  co_8hr     float64
 18  pm2.5_avg  float64
 19  pm10_avg   float64
 20  so2_avg    float64
 21  longitude  float64
 22  latitude   float64
dtypes: float64(18), object(5)
memory usage: 1.0+ GB

### Tratando coluna date

In [11]:
air_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5739490 entries, 0 to 5882207
Data columns (total 23 columns):
 #   Column     Dtype
---  ------     -----
 0   date       object
 1   sitename   object
 2   county     object
 3   aqi        float64
 4   pollutant  object
 5   status     object
 6   so2        float64
 7   co         float64
 8   o3         float64
 9   o3_8hr     float64
 10  pm10       float64
 11  pm2.5      float64
 12  no2        float64
 13  nox        float64
 14  no         float64
 15  windspeed  float64
 16  winddirec  float64
 17  co_8hr     float64
 18  pm2.5_avg  float64
 19  pm10_avg   float64
 20  so2_avg    float64
 21  longitude  float64
 22  latitude   float64
dtypes: float64(18), object(5)
memory usage: 1.0+ GB

In [12]:
# air_df['date'] = pd.to_datetime(air_df['date'], format="%Y-%m-%d %H:%M", errors='coerce')
air_df['date'] = pd.to_datetime(air_df['date'], errors='coerce')

In [13]:
air_df.isnull().sum()

date              85
sitename           0
county             0
aqi              590
pollutant    3185191
status             0
so2           110645
co            125200
o3            175551
o3_8hr        117588
pm10          113305
pm2.5         167820
no2           135602
nox           136178
no            136513
windspeed     271909
winddirec     272164
co_8hr         71235
pm2.5_avg      39784
pm10_avg       55207
so2_avg       512074
longitude     826019
latitude      826019
dtype: int64

In [14]:
air_df.dropna(subset=['date'], inplace=True)

In [15]:
air_df['date'].isnull().sum()/air_df.shape[0]

0.0

Talvez não seja correto fazer alguma aglomeração nessa coluna, pois o target não é numérico. Não teria uma forma "exata" de fazer a soma e média das classes.

In [16]:
air_df['year'] = air_df['date'].dt.year
air_df['month'] = air_df['date'].dt.month
air_df['day'] = air_df['date'].dt.day
air_df['hour'] = air_df['date'].dt.hour
air_df['minute'] = air_df['date'].dt.minute
air_df['day_of_week'] = air_df['date'].dt.weekday  # 0 = Segunda-feira, 6 = Domingo

# Verificar se é fim de semana
air_df['is_weekend'] = air_df['day_of_week'].apply(lambda x: 1 if x >= 5 else 0)

In [17]:
air_df.drop(labels='date', axis=1, inplace=True)

### Verificando importância da coluna pollutant e se ela pode ser descartada

In [18]:
air_df['pollutant'].isnull().sum()/air_df.shape[0]

0.5549577003191097

In [19]:
air_df['pollutant'].value_counts()

pollutant
PM2.5                     2213287
Ozone (8hr)                242678
PM10                        73819
Nitrogen Dioxide (NO2)      23948
Sulfur Dioxide (SO2)          472
Ozone                          72
Carbon Monoxide (CO)            2
Name: count, dtype: int64

Descrição no dicionário de dados - Main pollutant
Acho que pode ser dropada, me parece apenas uma info complementar e ela de 55% de valores nulos

In [20]:
air_df.drop(labels=['pollutant'], axis=1, inplace=True)

In [21]:
air_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5739405 entries, 0 to 5882207
Data columns (total 28 columns):
 #   Column       Dtype
---  ------       -----
 0   sitename     object
 1   county       object
 2   aqi          float64
 3   status       object
 4   so2          float64
 5   co           float64
 6   o3           float64
 7   o3_8hr       float64
 8   pm10         float64
 9   pm2.5        float64
 10  no2          float64
 11  nox          float64
 12  no           float64
 13  windspeed    float64
 14  winddirec    float64
 15  co_8hr       float64
 16  pm2.5_avg    float64
 17  pm10_avg     float64
 18  so2_avg      float64
 19  longitude    float64
 20  latitude     float64
 21  year         int32
 22  month        int32
 23  day          int32
 24  hour         int32
 25  minute       int32
 26  day_of_week  int32
 27  is_weekend   int64
dtypes: float64(18), int32(6), int64(1), object(3)
memory usage: 1.1+ GB

### Populando valores da coluna latitude e longitude pela coluna county

In [22]:
air_df.isnull().sum()/air_df.shape[0]

sitename       0.000000
county         0.000000
aqi            0.000103
status         0.000000
so2            0.019278
co             0.021814
o3             0.030587
o3_8hr         0.020488
pm10           0.019741
pm2.5          0.029239
no2            0.023626
nox            0.023727
no             0.023785
windspeed      0.047375
winddirec      0.047420
co_8hr         0.012412
pm2.5_avg      0.006932
pm10_avg       0.009619
so2_avg        0.089221
longitude      0.143921
latitude       0.143921
year           0.000000
month          0.000000
day            0.000000
hour           0.000000
minute         0.000000
day_of_week    0.000000
is_weekend     0.000000
dtype: float64

In [23]:
air_df['county'].value_counts()

county
New Taipei City      886272
Kaohsiung City       853539
Taipei City          496109
Taoyuan City         440625
Taichung City        359168
Tainan City          355516
Pingtung County      295781
Changhua County      286175
Yunlin County        275834
Miaoli County        215703
Nantou County        208559
Yilan County         145880
Taitung County       142378
Hsinchu County       141435
Chiayi County        139738
Hsinchu City          74775
Hualien County        71530
Penghu County         71044
Keelung City          70979
Lienchiang County     69817
Kinmen County         69383
Chiayi City           69165
Name: count, dtype: int64

In [24]:
air_df.loc[air_df['county'] == 'Chiayi City', ['county', 'latitude', 'longitude']]

              county   latitude   longitude
42       Chiayi City  23.464779  120.441251
109      Chiayi City  23.464779  120.441251
205      Chiayi City  23.464779  120.441251
276      Chiayi City  23.464779  120.441251
383      Chiayi City  23.464779  120.441251
...              ...        ...         ...
5881892  Chiayi City        NaN         NaN
5881952  Chiayi City        NaN         NaN
5882019  Chiayi City        NaN         NaN
5882115  Chiayi City        NaN         NaN
5882195  Chiayi City        NaN         NaN

[69165 rows x 3 columns]

In [25]:
county_lat_long = air_df.dropna(subset=['latitude', 'longitude']).drop_duplicates('county').set_index('county')[['latitude', 'longitude']]

In [26]:
county_lat_long

                    latitude   longitude
county
Hsinchu County     24.900097  121.038869
Taichung City      24.151958  120.641092
Hsinchu City       24.805636  120.972368
Miaoli County      24.696907  120.898693
Taoyuan City       24.952786  121.203986
Changhua County    24.131672  120.469061
Nantou County      23.913000  120.685306
Yunlin County      23.711853  120.544994
Chiayi County      23.554839  120.345531
Tainan City        23.305633  120.317250
New Taipei City    25.068950  121.481028
Pingtung County    22.260899  120.651472
Keelung City       25.129167  121.760056
Taipei City        25.103340  121.516664
Chiayi City        23.464779  120.441251
Yilan County       24.747917  121.746394
Kaohsiung City     22.608711  120.312017
Lienchiang County  26.153736  119.952724
Penghu County      23.569031  119.566158
Taitung County     23.045083  121.161933
Kinmen County      24.432133  118.312256
Hualien County     23.971306  121.599769

In [27]:
df_filled = air_df.merge(county_lat_long, on='county', how='left', suffixes=('', '_filled'))

In [28]:
df_filled

,sitename,county,aqi,status,so2,co,o3,o3_8hr,pm10,pm2.5,no2,nox,no,windspeed,winddirec,co_8hr,pm2.5_avg,pm10_avg,so2_avg,longitude,latitude,year,month,day,hour,minute,day_of_week,is_weekend,latitude_filled,longitude_filled
0,Hukou,Hsinchu County,62.0,Moderate,0.9,0.17,35.0,40.2,18.0,17.0,2.3,2.6,0.3,2.3,225.0,0.20,20.1,26.0,1.0,121.038869,24.900097,2024,8,31,23,0,5,1,24.900097,121.038869
1,Zhongming,Taichung City,50.0,Good,1.6,0.32,27.9,35.1,27.0,14.0,7.6,9.3,1.6,1.1,184.0,0.20,15.3,23.0,1.0,120.641092,24.151958,2024,8,31,23,0,5,1,24.151958,120.641092
2,Zhudong,Hsinchu County,45.0,Good,0.4,0.17,25.1,40.6,21.0,13.0,2.9,4.1,1.1,0.4,210.0,0.20,13.8,24.0,0.0,121.088955,24.740914,2024,8,31,23,0,5,1,24.900097,121.038869
3,Hsinchu,Hsinchu City,42.0,Good,0.8,0.20,30.0,35.9,19.0,10.0,4.0,4.8,0.7,1.9,239.0,0.20,13.0,26.0,1.0,120.972368,24.805636,2024,8,31,23,0,5,1,24.805636,120.972368
4,Toufen,Miaoli County,50.0,Good,1.0,0.16,33.5,35.9,18.0,14.0,1.8,3.1,1.2,1.8,259.0,0.10,15.3,28.0,1.0,120.898693,24.696907,2024,8,31,23,0,5,1,24.696907,120.898693
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5739400,Daliao,Kaohsiung City,77.0,Moderate,8.0,0.54,36.0,12.0,69.0,38.0,19.0,22.0,2.9,2.9,202.0,0.63,26.0,74.0,NaN,NaN,NaN,2016,11,25,13,0,4,0,22.608711,120.312017
5739401,Linyuan,Kaohsiung City,77.0,Moderate,4.6,0.31,94.0,41.0,30.0,27.0,11.0,12.0,0.9,2.5,224.0,0.46,26.0,39.0,NaN,NaN,NaN,2016,11,25,13,0,4,0,22.608711,120.312017
5739402,Nanzi,Kaohsiung City,74.0,Moderate,4.2,0.30,90.0,31.0,136.0,46.0,20.0,23.0,2.5,1.9,242.0,0.41,25.0,88.0,NaN,NaN,NaN,2016,11,25,13,0,4,0,22.608711,120.312017
5739403,Zuoying,Kaohsiung City,99.0,Moderate,6.7,0.62,115.0,40.0,108.0,62.0,23.0,25.0,2.1,2.8,280.0,0.63,35.0,65.0,NaN,NaN,NaN,2016,11,25,13,0,4,0,22.608711,120.312017
5739404,Qianjin,Kaohsiung City,84.0,Moderate,2.9,0.47,76.0,34.0,86.0,42.0,14.0,14.0,0.9,3.6,290.0,0.62,29.0,66.0,NaN,NaN,NaN,2016,11,25,13,0,4,0,22.608711,120.312017

In [29]:
air_df['latitude'] = air_df['latitude'].fillna(df_filled['latitude_filled'])
air_df['longitude'] = air_df['longitude'].fillna(df_filled['longitude_filled'])

In [30]:
air_df.isnull().sum()/air_df.shape[0]

sitename       0.000000
county         0.000000
aqi            0.000103
status         0.000000
so2            0.019278
co             0.021814
o3             0.030587
o3_8hr         0.020488
pm10           0.019741
pm2.5          0.029239
no2            0.023626
nox            0.023727
no             0.023785
windspeed      0.047375
winddirec      0.047420
co_8hr         0.012412
pm2.5_avg      0.006932
pm10_avg       0.009619
so2_avg        0.089221
longitude      0.018271
latitude       0.018271
year           0.000000
month          0.000000
day            0.000000
hour           0.000000
minute         0.000000
day_of_week    0.000000
is_weekend     0.000000
dtype: float64

In [31]:
# county_lat_long = air_df.dropna(subset=['latitude', 'longitude']).drop_duplicates('county').set_index('county')[['latitude', 'longitude']]

# # Fazer o merge para adicionar os valores de latitude e longitude
# df_filled = air_df.merge(county_lat_long, on='county', how='left', suffixes=('', '_filled'))

# # Usar os valores preenchidos onde houver NaN
# air_df['latitude'] = air_df['latitude'].fillna(df_filled['latitude_filled'])
# air_df['longitude'] = air_df['longitude'].fillna(df_filled['longitude_filled'])


# # county_lat_long = air_df.dropna(subset=['latitude', 'longitude']).drop_duplicates('county').set_index('county')[['latitude', 'longitude']]

# # air_df[['latitude', 'longitude']] = air_df.apply(
# #     lambda row: county_lat_long.loc[row['county']] if pd.isna(row['latitude']) or pd.isna(row['longitude']) else row[['latitude', 'longitude']],
# #     axis=1
# # )

In [32]:
air_df.isnull().sum()/air_df.shape[0]

sitename       0.000000
county         0.000000
aqi            0.000103
status         0.000000
so2            0.019278
co             0.021814
o3             0.030587
o3_8hr         0.020488
pm10           0.019741
pm2.5          0.029239
no2            0.023626
nox            0.023727
no             0.023785
windspeed      0.047375
winddirec      0.047420
co_8hr         0.012412
pm2.5_avg      0.006932
pm10_avg       0.009619
so2_avg        0.089221
longitude      0.018271
latitude       0.018271
year           0.000000
month          0.000000
day            0.000000
hour           0.000000
minute         0.000000
day_of_week    0.000000
is_weekend     0.000000
dtype: float64

In [33]:
air_df.loc[air_df['county'] == 'Chiayi City', ['county', 'latitude', 'longitude']].isnull().sum()

county         0
latitude     803
longitude    803
dtype: int64

In [34]:
air_df.shape

(5739405, 28)

In [35]:
air_df = air_df.dropna()

In [36]:
air_df.shape

(4601505, 28)

In [37]:
air_df.isnull().sum()/air_df.shape[0]

sitename       0.0
county         0.0
aqi            0.0
status         0.0
so2            0.0
co             0.0
o3             0.0
o3_8hr         0.0
pm10           0.0
pm2.5          0.0
no2            0.0
nox            0.0
no             0.0
windspeed      0.0
winddirec      0.0
co_8hr         0.0
pm2.5_avg      0.0
pm10_avg       0.0
so2_avg        0.0
longitude      0.0
latitude       0.0
year           0.0
month          0.0
day            0.0
hour           0.0
minute         0.0
day_of_week    0.0
is_weekend     0.0
dtype: float64

### Fazendo encoding das variáveis categóricas

In [38]:
air_df

,sitename,county,aqi,status,so2,co,o3,o3_8hr,pm10,pm2.5,no2,nox,no,windspeed,winddirec,co_8hr,pm2.5_avg,pm10_avg,so2_avg,longitude,latitude,year,month,day,hour,minute,day_of_week,is_weekend
0,Hukou,Hsinchu County,62.0,Moderate,0.9,0.17,35.0,40.2,18.0,17.0,2.3,2.6,0.3,2.3,225.0,0.2,20.1,26.0,1.0,121.038869,24.900097,2024,8,31,23,0,5,1
1,Zhongming,Taichung City,50.0,Good,1.6,0.32,27.9,35.1,27.0,14.0,7.6,9.3,1.6,1.1,184.0,0.2,15.3,23.0,1.0,120.641092,24.151958,2024,8,31,23,0,5,1
2,Zhudong,Hsinchu County,45.0,Good,0.4,0.17,25.1,40.6,21.0,13.0,2.9,4.1,1.1,0.4,210.0,0.2,13.8,24.0,0.0,121.088955,24.740914,2024,8,31,23,0,5,1
3,Hsinchu,Hsinchu City,42.0,Good,0.8,0.20,30.0,35.9,19.0,10.0,4.0,4.8,0.7,1.9,239.0,0.2,13.0,26.0,1.0,120.972368,24.805636,2024,8,31,23,0,5,1
4,Toufen,Miaoli County,50.0,Good,1.0,0.16,33.5,35.9,18.0,14.0,1.8,3.1,1.2,1.8,259.0,0.1,15.3,28.0,1.0,120.898693,24.696907,2024,8,31,23,0,5,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5324818,Annan,Tainan City,35.0,Good,2.1,0.08,34.0,30.0,28.0,7.0,3.3,4.3,1.0,4.0,297.0,0.1,11.0,28.0,2.0,121.481028,25.068950,2017,9,28,15,0,3,0
5324819,Tainan,Tainan City,29.0,Good,2.4,0.13,27.0,25.0,17.0,6.0,4.0,6.2,2.2,3.3,274.0,0.2,9.0,20.0,2.0,121.516664,25.103340,2017,9,28,15,0,3,0
5324820,Meinong,Kaohsiung City,78.0,Moderate,5.4,0.15,59.0,47.0,36.0,24.0,7.1,8.3,1.2,1.2,298.0,0.2,27.0,38.0,5.0,120.312017,22.608711,2017,9,28,15,0,3,0
5324827,Cailiao,New Taipei City,99.0,Moderate,3.3,0.27,67.0,59.0,52.0,32.0,13.0,14.0,1.7,2.6,347.0,0.6,35.0,59.0,3.0,120.312017,22.608711,2017,9,28,15,0,3,0
5324828,Xinzhuang,New Taipei City,92.0,Moderate,5.6,0.26,70.0,60.0,53.0,27.0,12.0,14.0,1.4,5.1,15.0,0.5,32.0,61.0,6.0,120.312017,22.608711,2017,9,28,15,0,3,0

In [39]:
air_df['sitename'].nunique()

113

In [40]:
air_df['county'].unique()

array(['Hsinchu County', 'Taichung City', 'Hsinchu City', 'Miaoli County',
       'Taoyuan City', 'Changhua County', 'Nantou County',
       'Yunlin County', 'Chiayi County', 'Tainan City', 'New Taipei City',
       'Pingtung County', 'Keelung City', 'Taipei City', 'Chiayi City',
       'Yilan County', 'Kaohsiung City', 'Penghu County',
       'Taitung County', 'Kinmen County', 'Hualien County',
       'Lienchiang County'], dtype=object)

In [41]:
air_df['status'].unique()

array(['Moderate', 'Good', 'Unhealthy for Sensitive Groups', 'Unhealthy',
       'Very Unhealthy', 'Hazardous'], dtype=object)

In [42]:
air_df.shape

(4601505, 28)

In [43]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
import category_encoders as ce

air_df.reset_index(drop=True, inplace=True)

label_encoder = LabelEncoder()
air_df['status'] = label_encoder.fit_transform(air_df['status'])

one_hot_encoder = OneHotEncoder(sparse_output=False)
one_hot_encoded = one_hot_encoder.fit_transform(air_df[['county']])
one_hot_encoded_df = pd.DataFrame(one_hot_encoded, columns=one_hot_encoder.get_feature_names_out(['county']))
air_df = pd.concat([air_df, one_hot_encoded_df], axis=1)

# target_encoder = ce.TargetEncoder(cols=['sitename'])
# air_df['sitename'] = target_encoder.fit_transform(air_df['sitename'], air_df['status'])

In [44]:
air_df

,sitename,county,aqi,status,so2,co,o3,o3_8hr,pm10,pm2.5,no2,nox,no,windspeed,winddirec,co_8hr,pm2.5_avg,pm10_avg,so2_avg,longitude,latitude,year,month,day,hour,minute,day_of_week,is_weekend,county_Changhua County,county_Chiayi City,county_Chiayi County,county_Hsinchu City,county_Hsinchu County,county_Hualien County,county_Kaohsiung City,county_Keelung City,county_Kinmen County,county_Lienchiang County,county_Miaoli County,county_Nantou County,county_New Taipei City,county_Penghu County,county_Pingtung County,county_Taichung City,county_Tainan City,county_Taipei City,county_Taitung County,county_Taoyuan City,county_Yilan County,county_Yunlin County
0,Hukou,Hsinchu County,62.0,2,0.9,0.17,35.0,40.2,18.0,17.0,2.3,2.6,0.3,2.3,225.0,0.2,20.1,26.0,1.0,121.038869,24.900097,2024,8,31,23,0,5,1,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Zhongming,Taichung City,50.0,0,1.6,0.32,27.9,35.1,27.0,14.0,7.6,9.3,1.6,1.1,184.0,0.2,15.3,23.0,1.0,120.641092,24.151958,2024,8,31,23,0,5,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Zhudong,Hsinchu County,45.0,0,0.4,0.17,25.1,40.6,21.0,13.0,2.9,4.1,1.1,0.4,210.0,0.2,13.8,24.0,0.0,121.088955,24.740914,2024,8,31,23,0,5,1,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Hsinchu,Hsinchu City,42.0,0,0.8,0.20,30.0,35.9,19.0,10.0,4.0,4.8,0.7,1.9,239.0,0.2,13.0,26.0,1.0,120.972368,24.805636,2024,8,31,23,0,5,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Toufen,Miaoli County,50.0,0,1.0,0.16,33.5,35.9,18.0,14.0,1.8,3.1,1.2,1.8,259.0,0.1,15.3,28.0,1.0,120.898693,24.696907,2024,8,31,23,0,5,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4601500,Annan,Tainan City,35.0,0,2.1,0.08,34.0,30.0,28.0,7.0,3.3,4.3,1.0,4.0,297.0,0.1,11.0,28.0,2.0,121.481028,25.068950,2017,9,28,15,0,3,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4601501,Tainan,Tainan City,29.0,0,2.4,0.13,27.0,25.0,17.0,6.0,4.0,6.2,2.2,3.3,274.0,0.2,9.0,20.0,2.0,121.516664,25.103340,2017,9,28,15,0,3,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4601502,Meinong,Kaohsiung City,78.0,2,5.4,0.15,59.0,47.0,36.0,24.0,7.1,8.3,1.2,1.2,298.0,0.2,27.0,38.0,5.0,120.312017,22.608711,2017,9,28,15,0,3,0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4601503,Cailiao,New Taipei City,99.0,2,3.3,0.27,67.0,59.0,52.0,32.0,13.0,14.0,1.7,2.6,347.0,0.6,35.0,59.0,3.0,120.312017,22.608711,2017,9,28,15,0,3,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4601504,Xinzhuang,New Taipei City,92.0,2,5.6,0.26,70.0,60.0,53.0,27.0,12.0,14.0,1.4,5.1,15.0,0.5,32.0,61.0,6.0,120.312017,22.608711,2017,9,28,15,0,3,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [45]:
air_df.drop(labels=['county'], axis=1, inplace=True)

In [46]:
air_df

,sitename,aqi,status,so2,co,o3,o3_8hr,pm10,pm2.5,no2,nox,no,windspeed,winddirec,co_8hr,pm2.5_avg,pm10_avg,so2_avg,longitude,latitude,year,month,day,hour,minute,day_of_week,is_weekend,county_Changhua County,county_Chiayi City,county_Chiayi County,county_Hsinchu City,county_Hsinchu County,county_Hualien County,county_Kaohsiung City,county_Keelung City,county_Kinmen County,county_Lienchiang County,county_Miaoli County,county_Nantou County,county_New Taipei City,county_Penghu County,county_Pingtung County,county_Taichung City,county_Tainan City,county_Taipei City,county_Taitung County,county_Taoyuan City,county_Yilan County,county_Yunlin County
0,Hukou,62.0,2,0.9,0.17,35.0,40.2,18.0,17.0,2.3,2.6,0.3,2.3,225.0,0.2,20.1,26.0,1.0,121.038869,24.900097,2024,8,31,23,0,5,1,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Zhongming,50.0,0,1.6,0.32,27.9,35.1,27.0,14.0,7.6,9.3,1.6,1.1,184.0,0.2,15.3,23.0,1.0,120.641092,24.151958,2024,8,31,23,0,5,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Zhudong,45.0,0,0.4,0.17,25.1,40.6,21.0,13.0,2.9,4.1,1.1,0.4,210.0,0.2,13.8,24.0,0.0,121.088955,24.740914,2024,8,31,23,0,5,1,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Hsinchu,42.0,0,0.8,0.20,30.0,35.9,19.0,10.0,4.0,4.8,0.7,1.9,239.0,0.2,13.0,26.0,1.0,120.972368,24.805636,2024,8,31,23,0,5,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Toufen,50.0,0,1.0,0.16,33.5,35.9,18.0,14.0,1.8,3.1,1.2,1.8,259.0,0.1,15.3,28.0,1.0,120.898693,24.696907,2024,8,31,23,0,5,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4601500,Annan,35.0,0,2.1,0.08,34.0,30.0,28.0,7.0,3.3,4.3,1.0,4.0,297.0,0.1,11.0,28.0,2.0,121.481028,25.068950,2017,9,28,15,0,3,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4601501,Tainan,29.0,0,2.4,0.13,27.0,25.0,17.0,6.0,4.0,6.2,2.2,3.3,274.0,0.2,9.0,20.0,2.0,121.516664,25.103340,2017,9,28,15,0,3,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4601502,Meinong,78.0,2,5.4,0.15,59.0,47.0,36.0,24.0,7.1,8.3,1.2,1.2,298.0,0.2,27.0,38.0,5.0,120.312017,22.608711,2017,9,28,15,0,3,0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4601503,Cailiao,99.0,2,3.3,0.27,67.0,59.0,52.0,32.0,13.0,14.0,1.7,2.6,347.0,0.6,35.0,59.0,3.0,120.312017,22.608711,2017,9,28,15,0,3,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4601504,Xinzhuang,92.0,2,5.6,0.26,70.0,60.0,53.0,27.0,12.0,14.0,1.4,5.1,15.0,0.5,32.0,61.0,6.0,120.312017,22.608711,2017,9,28,15,0,3,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [47]:
print(dict(zip(label_encoder.classes_, label_encoder.transform(label_encoder.classes_))))

{'Good': 0, 'Hazardous': 1, 'Moderate': 2, 'Unhealthy': 3, 'Unhealthy for Sensitive Groups': 4, 'Very Unhealthy': 5}

In [48]:
air_df['status'].value_counts()

status
0    2509369
2    1726983
4     317214
3      47754
5        148
1         37
Name: count, dtype: int64

In [49]:
air_df.drop(air_df[air_df['status'].isin([5, 1])].index, inplace=True)

In [50]:
air_df['status'].value_counts()

status
0    2509369
2    1726983
4     317214
3      47754
Name: count, dtype: int64

In [51]:
# air_df.to_parquet('air_quality_dataset_treated.parquet', index=True)