## Problemas

- Linhas nulas na coluna targuet status (142718) -> *Resolvido*
- Coluna unit totalmente nula -> *Resolvido*
- Várias colunas com tipos misturados -> *Resolvido*
- Transformar a coluna date de object pata data de verdade -> *Resolvido*
- Agrupar a coluna date de alguma maneira e fazer o casting dos valores para data (dias/horas/meses/anos)  -> *Resolvido*
- Coluna inútil siteid -> *Resolvido*
- Verificar do que se trata a coluna pollutant e sua importância -> *Resolvido*
- Coluna pollutant com 55% de valores nulos -> *Resolvido* 
- Várias outras colunas com valores nulos (abaixo de 31%)
- Popular colunas de latitude e longitude com os dados de county
- Fazer encoding das colunas sitename, county e pollutant
- Testar one_hot_encoding e target_encoding

## Tasks

- Tratar colunas com tipos misturados ---------------------> *Feito* (preprocess_to_parquet.ipynb file)
- Tratar tipo da coluna date ------------------------------> *Feito*
- Tratar aglomeração da coluna date -----------------------> *Feito*
- Dropar as linhas que tem o target (coluna status) nulo --> *Feito*
- Dropar as coluna unit e siteid (inúteis) ----------------> *Feito*
- Verificação e tratamento da coluna pollutant ------------> *Feito*

In [37]:
import pandas as pd


pd.set_option("display.max_columns", None)

In [38]:
air_quality_dataset = "data/air_quality_dataset.parquet"

air_df = pd.read_parquet(air_quality_dataset)

In [39]:
air_df.head()

,date,sitename,county,aqi,pollutant,status,so2,co,o3,o3_8hr,pm10,pm2.5,no2,nox,no,windspeed,winddirec,unit,co_8hr,pm2.5_avg,pm10_avg,so2_avg,longitude,latitude,siteid
0,2024-08-31 23:00,Hukou,Hsinchu County,62.0,PM2.5,Moderate,0.9,0.17,35.0,40.2,18.0,17.0,2.3,2.6,0.3,2.3,225.0,NaN,0.2,20.1,26.0,1.0,121.038869,24.900097,22.0
1,2024-08-31 23:00,Zhongming,Taichung City,50.0,None,Good,1.6,0.32,27.9,35.1,27.0,14.0,7.6,9.3,1.6,1.1,184.0,NaN,0.2,15.3,23.0,1.0,120.641092,24.151958,31.0
2,2024-08-31 23:00,Zhudong,Hsinchu County,45.0,None,Good,0.4,0.17,25.1,40.6,21.0,13.0,2.9,4.1,1.1,0.4,210.0,NaN,0.2,13.8,24.0,0.0,121.088955,24.740914,23.0
3,2024-08-31 23:00,Hsinchu,Hsinchu City,42.0,None,Good,0.8,0.20,30.0,35.9,19.0,10.0,4.0,4.8,0.7,1.9,239.0,NaN,0.2,13.0,26.0,1.0,120.972368,24.805636,24.0
4,2024-08-31 23:00,Toufen,Miaoli County,50.0,None,Good,1.0,0.16,33.5,35.9,18.0,14.0,1.8,3.1,1.2,1.8,259.0,NaN,0.1,15.3,28.0,1.0,120.898693,24.696907,25.0

In [40]:
air_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5882208 entries, 0 to 5882207
Data columns (total 25 columns):
 #   Column     Dtype
---  ------     -----
 0   date       object
 1   sitename   object
 2   county     object
 3   aqi        float64
 4   pollutant  object
 5   status     object
 6   so2        float64
 7   co         float64
 8   o3         float64
 9   o3_8hr     float64
 10  pm10       float64
 11  pm2.5      float64
 12  no2        float64
 13  nox        float64
 14  no         float64
 15  windspeed  float64
 16  winddirec  float64
 17  unit       float64
 18  co_8hr     float64
 19  pm2.5_avg  float64
 20  pm10_avg   float64
 21  so2_avg    float64
 22  longitude  float64
 23  latitude   float64
 24  siteid     float64
dtypes: float64(20), object(5)
memory usage: 1.1+ GB

In [41]:
air_df.isnull().sum()/air_df.shape[0]

date         0.000000
sitename     0.000000
county       0.000000
aqi          0.007314
pollutant    0.549966
status       0.024263
so2          0.023765
co           0.026203
o3           0.035263
o3_8hr       0.026121
pm10         0.024932
pm2.5        0.034379
no2          0.028221
nox          0.028756
no           0.028812
windspeed    0.051457
winddirec    0.051498
unit         1.000000
co_8hr       0.017604
pm2.5_avg    0.013594
pm10_avg     0.016349
so2_avg      0.106964
longitude    0.158719
latitude     0.158719
siteid       0.302517
dtype: float64

### Dropando linhas vazias da coluna status (target)

In [42]:
air_df.dropna(subset=['status'], inplace=True)

In [43]:
air_df['status'].isnull().sum()/air_df.shape[0]

0.0

### Dropando colunas inúteis

In [44]:
air_df.drop(labels=['unit', 'siteid'], axis=1, inplace=True)

In [45]:
air_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5739490 entries, 0 to 5882207
Data columns (total 23 columns):
 #   Column     Dtype
---  ------     -----
 0   date       object
 1   sitename   object
 2   county     object
 3   aqi        float64
 4   pollutant  object
 5   status     object
 6   so2        float64
 7   co         float64
 8   o3         float64
 9   o3_8hr     float64
 10  pm10       float64
 11  pm2.5      float64
 12  no2        float64
 13  nox        float64
 14  no         float64
 15  windspeed  float64
 16  winddirec  float64
 17  co_8hr     float64
 18  pm2.5_avg  float64
 19  pm10_avg   float64
 20  so2_avg    float64
 21  longitude  float64
 22  latitude   float64
dtypes: float64(18), object(5)
memory usage: 1.0+ GB

### Tratando coluna date

In [46]:
air_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5739490 entries, 0 to 5882207
Data columns (total 23 columns):
 #   Column     Dtype
---  ------     -----
 0   date       object
 1   sitename   object
 2   county     object
 3   aqi        float64
 4   pollutant  object
 5   status     object
 6   so2        float64
 7   co         float64
 8   o3         float64
 9   o3_8hr     float64
 10  pm10       float64
 11  pm2.5      float64
 12  no2        float64
 13  nox        float64
 14  no         float64
 15  windspeed  float64
 16  winddirec  float64
 17  co_8hr     float64
 18  pm2.5_avg  float64
 19  pm10_avg   float64
 20  so2_avg    float64
 21  longitude  float64
 22  latitude   float64
dtypes: float64(18), object(5)
memory usage: 1.0+ GB

In [47]:
# air_df['date'] = pd.to_datetime(air_df['date'], format="%Y-%m-%d %H:%M", errors='coerce')
air_df['date'] = pd.to_datetime(air_df['date'], errors='coerce')

In [48]:
air_df.isnull().sum()

date              85
sitename           0
county             0
aqi              590
pollutant    3185191
status             0
so2           110645
co            125200
o3            175551
o3_8hr        117588
pm10          113305
pm2.5         167820
no2           135602
nox           136178
no            136513
windspeed     271909
winddirec     272164
co_8hr         71235
pm2.5_avg      39784
pm10_avg       55207
so2_avg       512074
longitude     826019
latitude      826019
dtype: int64

In [49]:
air_df.dropna(subset=['date'], inplace=True)

In [50]:
air_df['date'].isnull().sum()/air_df.shape[0]

0.0

Talvez não seja correto fazer alguma aglomeração nessa coluna, pois o target não é numérico. Não teria uma forma "exata" de fazer a soma e média das classes.

### Verificando importância da coluna pollutant e se ela pode ser descartada

In [51]:
air_df['pollutant'].isnull().sum()/air_df.shape[0]

0.5549577003191097

In [54]:
air_df['pollutant'].value_counts()

pollutant
PM2.5                     2213287
Ozone (8hr)                242678
PM10                        73819
Nitrogen Dioxide (NO2)      23948
Sulfur Dioxide (SO2)          472
Ozone                          72
Carbon Monoxide (CO)            2
Name: count, dtype: int64

Descrição no dicionário de dados - Main pollutant
Acho que pode ser dropada, me parece apenas uma info complementar e ela de 55% de valores nulos

In [58]:
air_df.drop(labels=['pollutant'], axis=1, inplace=True)

In [59]:
air_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5739405 entries, 0 to 5882207
Data columns (total 22 columns):
 #   Column     Dtype
---  ------     -----
 0   date       datetime64[ns]
 1   sitename   object
 2   county     object
 3   aqi        float64
 4   status     object
 5   so2        float64
 6   co         float64
 7   o3         float64
 8   o3_8hr     float64
 9   pm10       float64
 10  pm2.5      float64
 11  no2        float64
 12  nox        float64
 13  no         float64
 14  windspeed  float64
 15  winddirec  float64
 16  co_8hr     float64
 17  pm2.5_avg  float64
 18  pm10_avg   float64
 19  so2_avg    float64
 20  longitude  float64
 21  latitude   float64
dtypes: datetime64[ns](1), float64(18), object(3)
memory usage: 1007.1+ MB

In [60]:
air_df['county'].value_counts()

county
New Taipei City      886272
Kaohsiung City       853539
Taipei City          496109
Taoyuan City         440625
Taichung City        359168
Tainan City          355516
Pingtung County      295781
Changhua County      286175
Yunlin County        275834
Miaoli County        215703
Nantou County        208559
Yilan County         145880
Taitung County       142378
Hsinchu County       141435
Chiayi County        139738
Hsinchu City          74775
Hualien County        71530
Penghu County         71044
Keelung City          70979
Lienchiang County     69817
Kinmen County         69383
Chiayi City           69165
Name: count, dtype: int64